@charset "utf-8";

*{
    box-sizing: border-box;
}

html{
    background: black;
    padding: 0;
    margin: 0;
    font-family: Poppins,sans-serif;
}

/*-----------------------HEADER----------------------*/
header{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    padding-top: 55px;
    margin-left: 30px;
}

a:hover{
   color: white;
}

nav ul.nav-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 16px;
    list-style: none;
}

.logo-image{
    flex-grow: 1;

    position: relative;
    left: 50px;
}

.trydo-name{
    position: relative;
    top: -10px;
    left: 60px;

    color: white;

    font-size: 42px;
    font-family: Poppins, sans-serif;
    font-weight: lighter;

    cursor: pointer;
}

nav ul li a{
    text-decoration: none;

    position: relative;
    right: 120px;
    padding: 14px;
    top: -5px;
}

.buy-button{
    height: 50px;
    text-transform: uppercase;

    border: solid;
    border-radius: 8px;
    border-color: grey;

    padding: 14px;

    position: relative;
    right: 50px;
    top: -5px;

    cursor: pointer;
}

.items-button{
    color: grey;
    text-decoration: none;
}

.buy-now{
    text-decoration: none;
    color: white;
}

.items-button:hover{
    color: crimson;
}

.buy-button:hover{
    background: crimson;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b43a40",endColorstr="#fc6045",GradientType=1);
    transition: 1s;
    transform: scale(1.03);
}

/*---------------------FIRST SECTION---------------------*/

h1{
    font: bolder;
    font-size: 120px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: Poppins, sans-serif;

    letter-spacing: unset;

    color: crimson;

    width: 50%;

    position: relative;
    left: 325px;
    top: -30px;
}

span{
    position: relative;
    top: -40px;
}

main section.first-section{
    columns: 3;
    column-gap: 10px;

    color: lightgrey;

    width: 70%;
    margin-left: 325px;
    margin-bottom: 150px;

    text-align: left;
    font-family: Poppins,sans-serif;

    position: relative;
    top: -100px;  
}

main section h3{
    font-size: 25px;
    font-weight: lighter;
}

main section p{
    font-size: 21px;
    font-weight: lighter;
    line-height: 30px;

    color: grey;
}

.fa-poll{
    color: crimson;
    font-size: 48px;
}

.fa-building{
    color: crimson;
    font-size: 48px;
}

.fa-cube{
    color: crimson;
    font-size: 48px;
}



/*-----------------SECOND SECTION----------------*/

.second-section{
    background-color: #191919;

    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
}

.image-2{
    object-fit: cover;

    width: 75%;
    height: 700px;

    position: relative;
    top: -100px;
    left: 325px;

    border: none;
    border-radius: 10px;
}

.about-1{
    position: relative;
    left: 240px;
    top: 90px;
}

.about-us{
    font-size: 42px;
    font-weight: bolder;

    color: white;
}

.flex-container{
    display: flex;
    flex-direction: row;

    position: relative;
    top: 350px;
    right: 490px;

    color: white;
}

/*-------------------THIRD SECTION---------------*/
.third-section{
    width: 100%;
    height: 750px;
}

.service-container{
    display: flex;
    flex-flow: row wrap;
}

/*--------SERVICE------------*/
.services-item-1{
    display: block;
    width: 22%;

    position: relative;
    left: 325px;
    top: 40px;
}

.services-title{
    color: white;
    
    font-size: 60px;
    font-weight: bolder;
}

.services-p{
    font-size: 21px;
    font-weight: lighter;
    line-height: 30px;

    position: relative;
    top: -50px;

    color: grey;
}

.custom-service:hover{
    color: crimson;
}

.fa-map{
    color: crimson;
    font-size: 48px;
}
.fa-database{
    color: crimson;
    font-size: 48px;
}
.fa-lightbulb{
    color: crimson;
    font-size: 48px;
}
.fa-laptop{
    color: crimson;
    font-size: 48px;
}


/*---------------BUSINESS-DEVELOPMENT---------------*/

.business-development{
    display: flex;
    flex-flow: row wrap;

    width: 20%;

    position: relative;
    left: 350px;
    top: 90px;
}

div.services-item-2{
    display: block;

    border: solid;
    border-radius: 8px;

    padding: 40px;

    cursor: pointer;
}


.title-items{
    font-family: Poppins,sans-serif;
    font-size: 25px;
    font-weight: lighter;

    color: white;
}

.p-items{
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: lighter;

    color: grey;

    position: relative;
    top: -20px;
}

/*-------------------MARKETING-MOBILE------------------*/

.mark-mobile{
    display: flex;
    flex-flow: row wrap;

    width: 20%;

    position: relative;
    top: -515px;
    left: 1200px;
}

.services-item-3{
    display: block;

    position: relative;
    top: 40px;

    border: solid;
    border-radius: 8px;
    padding: 40px;

    cursor: pointer;
}

div.services-item-2:hover {
    background: crimson;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b43a40",endColorstr="#fc6045",GradientType=1);
    transition: 1s;
    transform: scale(1.03);
}

div.services-item-2:hover  p{
    color: white;
}

div.services-item-2:hover  i{
    color: white;
}


div.services-item-3:hover {
    background: crimson;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b43a40",endColorstr="#fc6045",GradientType=1);
    transition: 1s;
    transform: scale(1.03);
}

div.services-item-3:hover  p{
    color: white;
}

div.services-item-3:hover  i{
    color: white;
}

.custom-service{
    color: white;

    font-size: 18px;
    text-decoration: none;

    position: relative;
    top: -30px;
}

/*------------SECONDARY SECTION-----------*/

.secondary-section{
    background-color: #191919;

    width: 100%;
    height: 1500px;
}

.ourworks-container{
    display: block;

    position: relative;
    left: 300px;
    top: 45px;

    width: 32%;
}

/*------------CAROUSEL JQUERY--------------------------*/

.slider{
    display: flex;
    flex-flow: row wrap;

    position: absolute;  
    top: 50px;
    left: 0;
}

.carousel-image{
    position: relative;

    object-fit: cover;

    height: 600px;
    width: 350px;

    margin-top: 50px;
 
    padding: auto;

    border: solid;
    border-radius: 16px;
}

.image-transform{
    position: relative;
    left: 12px;
   
    opacity: 0.4;
}

.image-transform:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b43a40",endColorstr="#fc6045",GradientType=1);
    transition: 0.5s;
    transform: scale(1.03);

    height: 600px;
    width: 350px;

    z-index: 1;

    cursor: pointer;

    opacity: 1;
}

.development-text{
    display: flex;
    flex-direction: column;

    position: relative;
    top: -150px;
    left: 20px;
}

.development{
    color: grey;

    font-family: Poppins,sans-serif;
    font-weight: bolder;
    font-size: 16px;
}

.slider-p{
    position: relative;
    top: -35px;

    font-size: 26px;
    font-weight: bolder;
    font-family: Poppins,sans-serif;

    color: white;
}

.casestudy{
    display: flex;

    width: 125px;
    
    text-transform: uppercase;
    font-size: 13px;

    color: white;

    border: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: grey;
    padding: 10px;

    position: relative;
    top: -200px;
    left: 20px;

    cursor: pointer;
}

.button-text{
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

.casestudy:hover{
    background: crimson;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b43a40",endColorstr="#fc6045",GradientType=1);
    transition: 0.5s;
    transform: scale(1.03);
}

/*-------------FUN FACTS SECTION------------------------*/

.enterprises-section{
    height: 700px;
}

.fun-facts{
    color: white;

    font-size: 36px;
    font-style: normal;
 

    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    
    position: relative;
    top: 20px;
}

.fun-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.fun-section-1{
    display: flex;
    flex-flow: column wrap;

    width: 20%;

    padding: 40px;
    margin: 20px;
}

.fun-p-1{
    color: grey;
    justify-content: center;
    
    text-align: justify;
    text-align-last: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: lighter;
}

.fun-numbers{
    color: crimson;
    
    font-size: 70px;
    text-align: center;
    font-weight: bolder;

    position: relative;
    top: 5px;

    justify-content: center;
}

/*---------ENTERPRISES SECTION------------------*/

.aklima-content{
    color: white;
    font-size: 36px;
    font-style: normal;
    line-height: 60px;
    font-weight: lighter;
 
    text-align: center;
    margin: 5% 26% 10% 26%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    
    position: relative;
}

.amerimar-enterprises{
    color: grey;

    font-size: 16px;
    text-transform: uppercase;
    line-height: 60px;
    font-weight: lighter;
 
    text-align: center;
    margin: 5% 30% 10% 30%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    
    position: relative;
    top: -125px;
}

.aklima{
    top: 0;
    color: white;
    font-size: 16px;
}


.faces{
    display: flex;
    flex-flow: row wrap;

    justify-content: center;

    margin: 0% 35% 10% 35%;

    position: relative;
}

.persons-images{
    object-fit: cover;
    width: 100px;
    height: 100px;

    justify-content: center;

    padding: 5px;
    margin: 2px;

    position: relative;
    top: -250px;

    border: solid;
    border-radius: 20px;
}

.persons-images:hover{
    transition: 0.5s;
    transform: scale(1.15);
    cursor: pointer;
}

.persons-images-2{
    object-fit: cover;
    width: 100px;
    height: 100px;

    justify-content: center;

    padding: 5px;
    margin: 2px;

    position: relative;
    top: -250px;
    left: 110px;

    border: solid;
    border-radius: 20px;
}

.persons-images-2:hover{
    transition: 0.5s;
    transform: scale(1.15);
    cursor: pointer;
}



/*-----------------SECTION 6-------------------*/

.section-6{
    background-color: #191919;
    height: 1400px;
}

.news-section-6{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    position: relative;
    left: 325px;
}

.news-title{
    color: white;
    font-size: 60px;
    font-weight: bolder;
}

.news-p{
    font-size: 21px;
    color: grey;
    font-weight: lighter;
    line-height: 30px;

    position: relative;
    top: -60px;
}

.all-news{
    color: white;
    font-size: 18px;
    position: relative;
    top: -100px;
    text-decoration: none;

    margin: 5% 26% 10% 26%;
    
    display: flex;
    align-self: center;

    left: 555px;
}

.all-news:hover{
    cursor: pointer;
    color: crimson;

    position: relative;
}

.pictures{
    display: flex;
    flex-flow: row wrap;

    position: relative;  
    top: -150px;

    margin-left: 310px;
}


.pictures-image{
    position: relative;
    object-fit: cover;
    height: 500px;
    width: 350px;

    border: solid;
    border-radius: 8px;

    margin: 10px;
}

.pictures-transform{
    position: relative;
   
    opacity: 0.4;
}

.pictures-transform:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b43a40",endColorstr="#fc6045",GradientType=1);
    transition: 0.5s;
    transform: scale(1.03);

    cursor: pointer;

    opacity: 1;
    z-index: 1;
}

.pictures-text{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -150px;
    left: 20px;
}

.development-1{
    color: #C2C2C2;
    font-family: Poppins,sans-serif;
    font-weight: bolder;
    font-size: 18px;

    margin-left: 10px;
}

.pictures-p{
    color: white;
    font-size: 24px;
    font-weight: lighter;
    font-family: Poppins,sans-serif;

    display: flex;
    flex-direction: column;

    position: relative;
    top: -35px;

    margin-left: 10px;
}

.casestudy-1{
    display: flex;
    text-transform: uppercase;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: grey;
    padding: 10px;

    position: relative;
    top: -200px;
    left: 20px;
    cursor: pointer;
    width: 125px;

    font-size: 13px;

    color: white;

    margin-left: 10px;
}

.casestudy-1:hover{
    background: crimson;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b43a40",endColorstr="#fc6045",GradientType=1);
    transition: 0.5s;
    transform: scale(1.03);
}

/*-----------------PARTNERS------------------*/

.partners{
    display: flex;
    flex-flow: row wrap;

    justify-content: center;

    margin: 0% 20% 10% 20%;

    position: relative;

    top: -250px;
}

.partners-images{
    object-fit: contain;
    width: 175px;
    height: 175px;

    justify-content: center;

    padding: 5px;
    margin: 15px;

    position: relative;
    left: -35px;

    border: none;
    border-radius: 20px;
}

.partners-images:hover{
    transition: 0.5s;
    transform: scale(1.15);
    cursor: pointer;
}

.partners-images-2{
    object-fit: contain;
    width: 175px;
    height: 175px;

    justify-content: center;

    padding: 5px;
    margin: 15px;

    position: relative;
    left: 50px;


    border: none;
    border-radius: 20px;
}

.partners-images-2:hover{
    transition: 0.5s;
    transform: scale(1.15);
    cursor: pointer;
}

/*--------------FOOTER----------------*/

.footer{
    display: flex;
    flex-flow: row wrap;
}

.get-work{
    width: 1000px;
    height: 600px;

    position: relative;

    margin-top: -60px;

    background-color: crimson;
    border: none;
    border-radius: 0 8px 8px 0;
}

.work-section{
    position: relative;
    left: 100px;
    top: 60px;

    width: 50%;
}
.ready-to{
    color: white;
    text-transform: uppercase;
    
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;

    position: relative;
    top: 80px;
}

.lets-work{
    color: white;
    text-transform: none;

    font-size: 90px;
    font-weight: 1000;
    letter-spacing: 1px;
}

.contact-button{
    text-transform: uppercase;
    border: solid;
    border-radius: 6px;
    border-color: white;
    border-width: 2px;
    padding: 15px;
    margin-left: 2px;

    position: relative;
    top: -60px;

    cursor: pointer;
    height: 50px;

    width: 150px;
}

.contact-us{
        text-decoration: none;
        color: white;
        margin-left: 4px;
}

.contact-button:hover{
    background: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b43a40",endColorstr="#fc6045",GradientType=1);
    transition: 0.2s;
    transform: scale(1.03);
}

div.contact-button:hover a{
    color: crimson;
}

.quick-and-hello{
    color: grey;
    display: flex;
    flex-direction: row wrap;

    position: relative;
}

footer div ul{
    list-style: none;
}

.footer-list{
    font-size: 18px;
    margin-left: -37px;

    line-height: 50px;

    cursor: pointer;
}

li:hover{
    color: crimson;
}

.quick-hello{
    font-size: 24px;
}

.say-hello{
    margin: 125px;
    cursor: pointer;
}

.quick-link{
    margin: 125px;
}

.flex-icons{
    display: flex;
    flex-direction: row wrap;
}

footer div ul li i{
    margin: 20px;
    margin-left: 1px;
}

.copyright{
    color: grey;
    font-size: 14px;

    position: relative;
    top: -50px;

    text-align: right;
    left: -410px;
}








    


















